@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Witamy w przychodni!</h2>
<p>Strona posiada możliwość rezerwacji wizyt u Lekarzy.<br /><a href="/Choroba">Rejestracja wizyty</a></p>
