@page
@model Przychodnia.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Logowanie do serwisu dla lekarzy</h2>

<form method="post">
    <p>Pesel lub id:<input type="text" asp-for="Pesel" placeholder="Pesel lub Id: " /></p>
    <p>Hasło:<input type="password" asp-for="Haslo" placeholder="Hasło: " /></p>
    <button type="submit">Zaloguj</button>
</form>