@page
@model Przychodnia.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Logowanie do serwisu dla lekarzy</h2>

<form method="post">
    <p>Imię:<input type="text" asp-for="Imie" placeholder="Imię: " /></p>
    <p>Nazwisko:<input type="text" asp-for="Nazwisko" placeholder="Nazwisko: " /></p>
    <p>Hasło:<input type="text" asp-for="Haslo" placeholder="Hasło: " /></p>
    <button type="submit">Zaloguj</button>
</form>