@page
@model Przychodnia.Pages.WizytaModel
@{
    ViewData["Title"] = "Test";
}

<h2>@Model.dateTime</h2>
<form method="post">
    <p>Imię pacjenta:<input type="text" asp-for="Imie" placeholder="Imię : " /></p>
    <p>Nazwisko pacjenta:<input type="text" asp-for="Nazwisko" placeholder="Nazwisko pacjenta: " /></p>
    <p>Pesel:<input type="text" asp-for="Pesel" placeholder="Pesel: " /></p>

    <button type="submit">Zapisz</button>
</form>
